:root {
  --tab-min-height: 33px !important;
}

/* https://www.reddit.com/r/FirefoxCSS/comments/k3gnwz/is_it_possible_to_specify_the_text_color_of/ge5cr5p?utm_source=share&utm_medium=web2x&context=3 */
.tab-label-container {
  height: var(--tab-min-height) !important;
  opacity: 1 !important;
}

.tab-label {
  line-height: var(--tab-min-height) !important;
}

.tab-icon-image {
  opacity: 1 !important;
  margin: 1px 2px !important;
}

.tab-icon-image,
.tab-icon-sound,
.tab-close-button {
  height: 1em !important;
  width: 1em !important;
}

.toolbar-items:-moz-lwtheme-darktext,
.toolbar-items:-moz-lwtheme-brighttext {
  background-color: transparent !important;
  -moz-appearance: var(--bf-moz-appearance) !important;
}

/* .tab-content[selected="true"],
.tab-content[multiselected="true"] {
  border-bottom: 12px solid var(--color-urlbar-selected-bg) !important;
} */

.tabbrwoser-tab[multiselected],
.tabbrowser-tab[selected] .tab-background::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: blue;
}
